body{
    margin-right: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: .5rem;   
}
/* Add Employee section */
.add-employee2{
    margin-top: 1.4rem;
    margin-left: 12.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-employee-button{
    border: none;
    width: 12rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    text-align: center;
    color: white;
    background-color: rgba(244,72,72,255);
    border-radius: .5rem;
}
.add-emp-heading{
    display: flex;
    align-items: center;
    gap: .3rem;
    color: rgba(88,106,123,255);
    font-size: 1rem;
    font-weight: 500;
}
.add-employee-conetentpart span{
    font-size: .8rem;
    color: rgba(179,187,194,255);
}

/* Role Description */
.role-description{
    margin-left: 12.9rem;
}
.role-description-p{
    margin-top: 0;
    font-size: .9rem;
    color: rgba(179,187,194,255);
}

/* Info Card List Section */
.info-cards-list-2{
    margin-left: 12.9rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.user-profile-box-2{
    display: flex;
    align-items: center;
    gap:.4rem;
}
.info-card-2{
    width: 17rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 1rem;
    height: 13rem;
    border: 1px solid rgba(179,187,194,255);
    border-radius: .5rem;
}
.arrow-item{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arrow-item div{
    display: flex;
    align-items: center;
    gap: .3rem;
}
.arrow-item span{
    font-size: .7rem;
    color:  rgba(142,146,150,255);
    font-weight: 500;
}
.infocard-items{
    margin-top: .4rem;
    display: flex;
    align-items: center;
    gap:1rem;
}
.infocard-items span{
    color: rgba(142,146,150,255);
    font-weight: 500;
    font-size: .7rem;
}
.user-profile-box-2 img{
    border-radius: 50%;
    height: 2.3rem;
    width: 2.2rem;
}
.user-profile-box-2 .span-outside{
    color: black;
    font-weight: 500;
    font-size: .8rem;
}
.user-profile-box-2 .span-inside{
    font-size: .7rem;
    color: rgba(105,105,105,255);
}